Flask==0.12.2
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
Jinja2==2.9.6
MarkupSafe==1.0
SQLAlchemy==1.2.0b2
WTForms==2.1
Werkzeug==0.12.2
argparse==1.2.1
click==6.7
distribute==0.6.24
gunicorn==19.7.1
itsdangerous==0.24
psycopg2==2.7.3.1
wsgiref==0.1.2
